<h1>
  {{title}}
</h1>
<h2>
  {{version}}
</h2>
   <!--9.1.1 add form avec une référence #itemForm="ngForm"-->
<form #itemForm="ngForm">
  <input [(ngModel)]="newItem.reference" name="reference" required minlength="4" #ref="ngModel">
  <span [hidden]="ref.valid || ref.pristine" >Champ invalide</span>
  <input [(ngModel)]="newItem.name" name="name" required>
  <input [(ngModel)]="newItem.state" name="state"required>
  <!--// 9.1.3 use directive [disabled]="!itemForm" qui disabled le  -->
                 <!--bouton tant que le le formulaire est invalide -->
                 <!--9.1.3 use directive [disabled]="!itemForm" qui disabled le  -->
  <button [disabled]="!itemForm.valid" button (click)="createObject()">ajouter commande</button>
</form>

<div *ngFor="let item of collection">
  <p>Référence : {{item.reference}}</p>
  <p>Nom : {{item.name}}</p>

  <p class="state-0" *ngIf="0==item.state">A livrer</p>
  <p class="state-1" *ngIf="1==item.state">En cours de livraison</p>
  <p class="state-2" *ngIf="2==item.state">Commande livrée</p>
  <button (click)="getDetails($event, 'test')" id="{{item.reference}}">Détail</button>


  <br>

</div>